@{
    ViewBag.Title = "ATENDA";
}

<div class="jumbotron">
    <h1>ATENDA</h1>
    <p class="lead">O novo gerenciador de Ordem de Serviço.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clientes</h2>

        <p><a class="btn btn-default" href="http://localhost:47105/Cliente/CreateClienteView">Novo &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:47105/Cliente/EditClienteView">Alterar &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:47105/Cliente/CreateClienteView">Listar &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:47105/Cliente/CreateClienteView">Buscar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ordens de Serviço</h2>
        <p><a class="btn btn-default" href="../CreateClienteView.cshtml">Novo &raquo;</a></p>
        <p><a class="btn btn-default" href="../CreateClienteView.cshtml">Alterar &raquo;</a></p>
        <p><a class="btn btn-default" href="../CreateClienteView.cshtml">Listar &raquo;</a></p>
        <p><a class="btn btn-default" href="../CreateClienteView.cshtml">Buscar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Produtos</h2>
        <p><a class="btn btn-default" href="../CreateClienteView.cshtml">Novo &raquo;</a></p>
        <p><a class="btn btn-default" href="../CreateClienteView.cshtml">Alterar &raquo;</a></p>
        <p><a class="btn btn-default" href="../CreateClienteView.cshtml">Listar &raquo;</a></p>
        <p><a class="btn btn-default" href="../CreateClienteView.cshtml">Buscar &raquo;</a></p>    </div>
</div>